/* general rules */
/* ------------------------------------------------- */

* {
    background-color: #1f1f22;
    color: rgb(196, 201, 206);

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    padding-left: 0.5em;
}


/* main header */
/* ------------------------------------------------- */

#main-header {
    position: absolute;
}

#main-header > * {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

ul#main-nav-menu {
    list-style-type: none; /* Remove bullets */
}


/* page contents */
/* ------------------------------------------------- */

#page-contents {
    position: relative;
    top: 200px;
}

#page-contents-display {
    width: 100%;
}