* {
    background-color: #1f1f22;
    color: rgb(196, 201, 206);

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.single-line {
    font-size: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    padding-left: 0.5em;
}